.header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8%;
}

#bg-sec {
    text-align: center;
    color: rgb(235, 42, 4);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -2%;
}

#bg-para {
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 30px;
}

body {
    margin: 0%;
}

.link-button {
    background-color: orangered;
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    margin-left: 45%;
}

.second-para {
    color: rgb(207, 21, 21);
    text-align: center;
    padding: 10px;
    margin: 5%;
    font-size: 25px;
}

.heading-2 {
    padding-left: 43%;
    margin-top: 7%;
    font-size: 40px;
}

.donate {

    background-color: rgba(220, 219, 219, 0.756);
    border-radius: 10px;
    padding: 40px 50px;
    width: 120px;
    margin-left: 8%;
}

#donate-div {
    display: flex;
}

.tk-text {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: gray;
}

#tk-200-text {

    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: rgb(228, 59, 59);

}

#taka200 {
    border: 3px solid rgb(206, 44, 57);
    background-color: rgba(176, 104, 104, 0.267);
    border-radius: 10px;
    padding: 40px 50px;
    width: 120px;
    margin-left: 10%;
}

.input-area {
    color: gray;
    text-align: center;
    margin-top: 5%;
    font-weight: 300;
}

.button-2 {
    margin-top: 3%;
}

#donate-area {
    text-align: center;
    margin-top: 10%;
}

#donate-plan {
    color: rgb(76, 70, 70);
    text-align: center;
    padding: 10px;
    margin: 5%;
    font-size: 25px;
}

#donate-text {
    padding-left: 5%;
    margin-top: 7%;
    font-size: 60px;
    color: blue;
}

#food-box {

    background-color: rgb(165, 209, 209);
    border-radius: 20px;
    height: 350px;
    width: 350px;
    text-align: center;
    padding-top: 80px;
    margin-right: 5%;
}

.donate-plan-item {
    font-size: 40px;
    font-weight: 200px;
}

.donate-plan-para {
    font-size: 20px;
    padding: 2%;
    color: rgba(0, 0, 0, 0.982);
}

#shelter {
    background-color: rgb(205, 120, 110);
    border-radius: 20px;
    height: 350px;
    width: 350px;
    text-align: center;
    padding-top: 80px;
}

#education {
    background-color: rgb(198, 195, 103);
    border-radius: 20px;
    height: 350px;
    width: 350px;
    text-align: center;
    padding-top: 80px;
    margin-left: 5%;
}

#plan-area {
    display: flex;
    margin: 5%;
    padding-left: 10%;
}